.social-btn {
  color: white;
  background: #554971;
  padding: 10px 15px;
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 1px;
  display: inline-block;
  float: left;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #63768D;
 	-webkit-transition: all ease 0.8s;
 	-moz-transition: all ease 0.8s;
 	transition: all ease 0.8s;
 }

 .social-btn {
     box-shadow: inset 0 100px 0 0 #A29BB1;
}
